body{
    background-color: hsl(0, 0%, 90%);
    color: hsl(0, 0%, 20%);
    font-family: "Coolvetica-Regular", sans-serif;
    font-size: 2vw;
    margin: 0;                                                                       /* This prevents */ 
    padding: 0;                                                                      /* Default Browser Behaviour */
}
body *{
    margin: 0;
}
body h2{
    font-size: 2.3vw;
    letter-spacing: 0.1vw;
    margin-left: 10vw;
}