.container#conhecimentos{  
    width: 100%;
    overflow: auto;
}
.container#conhecimentos h2{
    margin-left: auto;
    padding-right: 9vw;
}
.container#conhecimentos p{
    margin-left: 0;
    padding: 5rem 9vw;
}