header #title, body p{
    margin-left: 10vw;
}

header *{
    margin: 0;
    margin-right: 3vw;
    text-align: left;
}
header nav{
    margin-right: 0;
}
header #title{
    font-size: 8vw;
    padding-top: 20vh;
    letter-spacing: 0.3vw;
}
header #subtitle{
    font-size: 2vw;
    padding-bottom: 40vh;
    letter-spacing: 0.1vw;
    opacity: 0.8;
}
header #scroll-text{
    font-size: 2.5vw;
    margin: 0;
    text-align: center;
    padding-bottom: 5vh; 
    letter-spacing: 0.1vw;   
    opacity: 0.6;
}
header:hover #scroll-text{
    animation: fade 2s infinite;
}
header:not(:hover) #scroll-text{
    animation: fade 2s 1;
}