header{
    min-height: 60vh;
}
header #title, body p{
    margin-left: 10vw;
}
header *{
    margin: 0;
    margin-right: 3vw;
    text-align: left;
}
header nav{
    margin-right: 0;
}
header #title{
    font-size: clamp(4rem, 7vw, 8rem);
    padding-top: 10vh;
    letter-spacing: 0.3vw;
}
header #subtitle{
    font-size: clamp(1.5rem, 2vw, 4rem);
    padding-bottom: 35vh;
    padding-right: 9vw;
    letter-spacing: 0.1vw;
    opacity: 0.8;
}
header #scroll-text{
    font-size: clamp(1.5rem, 2vw, 3rem);
    margin: 0;
    text-align: center;
    padding-bottom: 5vh; 
    letter-spacing: 0.1vw;   
    opacity: 0.6;
}
header:hover #scroll-text{
    animation: fade 2s infinite;
}
header:not(:hover) #scroll-text{
    animation: fade 2s 1;
}