@font-face {
    font-family: "Coolvetica";
    src: url(Fonts/Coolvetica+Rg.otf);
}

body{
    background-color: hsl(0, 0%, 90%);
    color: hsl(0, 0%, 20%);
    font-family: "Coolvetica", sans-serif;
    font-size: 2vw;
    margin: 0;                                                                       /* This prevents */ 
    padding: 0;                                                                      /* Default Browser Behaviour */
}
body *{
    margin: 0;
}
body h2{
    font-size: 2.3vw;
    letter-spacing: 0.1vw;
    margin-left: 10vw;
}
header #title, body p{
    margin-left: 10vw;
}
main{
    background-color: hsl(0, 0%, 97%);
}

header *{
    margin: 0;
    margin-right: 3vw;
    text-align: left;
}
header #title{
    font-size: 8vw;
    padding-top: 20vh;
    letter-spacing: 0.3vw;
}
header #subtitle{
    font-size: 2vw;
    padding-bottom: 40vh;
    letter-spacing: 0.1vw;
    opacity: 0.8;
}
header #scroll-text{
    font-size: 2.5vw;
    margin: 0;
    text-align: center;
    padding-bottom: 5vh; 
    letter-spacing: 0.1vw;   
    opacity: 0.6;
}
header:hover #scroll-text{
    animation: fade 2s infinite;
}
header:not(:hover) #scroll-text{
    animation: fade 2s 1;
}
@keyframes fade{
    50%{opacity: 1;}
}

.container#profile{
    display: flex;
    align-items: center;
    background: linear-gradient(to right, hsl(203, 100%, 55%), hsl(203, 93%, 65%));
    color: hsl(0, 0%, 90%);
    height: 25vh;
}
.container#profile p{
    max-width: 50vw;
}

.container#conhecimentos{
    display: flex;
    align-items: center;
    background: linear-gradient(to right, hsl(203, 100%, 55%), hsl(203, 93%, 65%));
    color: hsl(0, 0%, 90%);
    height: 35vh;
}

.container#about strong{
    letter-spacing: 0.05vw;
}
.container#about h2{
    margin-top: 40vh;
}
.container#about p{
    margin-top: 4vh;
}
.container#about #last{
    margin-bottom: 40vh;
}